:root{
    --fundo: #DBDBDB;
}
body{ 
    background-color: var(--fundo);
}

img{
    width: 10%;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Ingrid Darling", cursive;
    font-weight: 400;
    font-style: normal;
  

}

/*NOSSO SITE */

#barco{
    width: 30%;
}

.introducao{
    display: flex;
    margin: 20px 0 0 0;
    padding: 20px 0;
    background-color: #DBDBDB;
    
}