:root{
    --fundo: #DBDBDB;
}
body{ 
    background-color: var(--fundo);
}

img{
    width: 10%;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*NOSSO SITE */

#barco{
    width: 30%;
}