:root{
    --fundo: #E13B6D;
}
body{ 
    background-color: var(--fundo);
}

img{
    width: 10%;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Ingrid Darling", cursive;
    font-weight: 400;
    font-style: normal;
  
}

/*NOSSO SITE */

#barco{
    width: 30%;
}

.sedutores{
    display: flex;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    background-color: aliceblue;
    
}

.equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.foto-equipe{
    width: 40%;
}